PORT=Your port number
DB_URI="host=localhost user=postgres password=#Dovaridu90 dbname=vidverse port=5432 sslmode=disable"
SECRET=yoursecret
CLD_URI= your cloudinary uri
CLOUD_NAME=your cloud name
JWT_SECRET=your jwt secret
ENVIRONMENT= your environment

MAIL_DOMAIN= your mail domain
MAIL_HOST= your mail host
MAIL_PORT= your mail port
MAIL_USERNAME= your mail username
MAIL_PASSWORD= your mail password
MAIL_ENCRYPTION= your mail encryption
MAIL_FROM_NAME= your mail from name
MAIL_FROM_ADDRESS= your mail from address