PORT=Your port number
DB_URI="host=localhost user=postgres password=#Dovaridu90 dbname=vidverse port=5432 sslmode=disable"
SECRET=yoursecret
CLD_URI= your cloudinary uri
CLOUD_NAME=your cloud name
JWT_SECRET=your jwt secret
ENVIRONMENT= your environment